#hiddenContent {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#showMoreButton {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

#showMoreButton:hover {
    background-color: #e0e0e0;
}

table {
    margin-bottom: 5px; 
}